In [1]:

import json #install all necessary packages, json pandas and requests as well as numpy are needed to clean and read data
import pandas as pd
import requests
import numpy as np
import nltk
import sklearn as sk #nltk for sentiment analysis
from sklearn import linear_model#sklearn and its packages for regression analysis
from sklearn.linear_model import LinearRegression
import statsmodels.api as sm #statsmodels for displaying results from our regression 
import statsmodels.formula.api as smf

In [2]:
nltk.download()#import the corpi from the nltk library

showing info https://raw.githubusercontent.com/nltk/nltk_data/gh-pages/index.xml

True

In [3]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer#import our main sentiment analyzer

In [4]:
response4 = requests.get("http://smashlounge.com/api/techs/all")#our four requests from the smashlounge api
response3 = requests.get("http://smashlounge.com/api/groups/all")#this api is a library of super smash melee characters
response1 = requests.get("http://smashlounge.com/api/attack/")#and their moves and statistics
response2 = requests.get("http://smashlounge.com/api/chars/all")#for our project, we will only be using response 2 and response 3

In [5]:
response1=[]
#response 1 has 26 different pages for each character, to harvest each request into one list we must for loop
for i in range(len(response2.json())):
    temp=""
    temp="http://smashlounge.com/api/attack/char/"+str(i)#each char id produces the endpoint
    data =requests.get(temp)
    response1.append(data)#append the end point data to the response

In [6]:
#method below was used originally but was replaced with a json_dump method
#df1=pd.DataFrame(0, index=np.arange(len(response2J)), columns=['fallspeed','tierdata','weight',
                #'walljump','guide'])
#this method gets the dataframe without using json_dump


#for i in range(len(response2J)):
    #df1.loc[i,'fallspeed']=response2J[i]['fallspeed']
    #df1.loc[i,'tierdata']=response2J[i]['tierdata']
    #df1.loc[i,'weight']=response2J[i]['weight']
    #df1.loc[i,'walljump']=response2J[i]['walljump']
    #df1.loc[i,'guide']=response2J[i]['guide']

In [7]:
response2J=response2.json()#get our json() formatting response variable

In [8]:
df1=pd.read_json(json.dumps(response2J)).reset_index()#read json with json.dumps will convert our json data into a dataframe
df1

,index,id,name,tierdata,weight,fallspeed,walljump,guide,game,gifs
0,0,1,Bowser,24,1st,12th-14th,0,"Bowser is the heaviest character in the game, ...",0,"[{'id': '1857', 'typeid': '0', 'dataid': '1', ..."
1,1,2,Captain Falcon,7,6th-7th,2nd,1,Falcon is the fastest character in the game in...,0,"[{'id': '3', 'typeid': '0', 'dataid': '2', 'so..."
2,2,3,Donkey Kong,17,2nd,4th-5th,0,Donkey Kong is a character that lacks reliable...,0,"[{'id': '37', 'typeid': '0', 'dataid': '3', 's..."
3,3,4,Dr. Mario,9,8th-10th,16th-18th,0,"Dr. Mario is a compact powerhouse, packed with...",0,"[{'id': '2', 'typeid': '0', 'dataid': '4', 'so..."
4,4,5,Falco,2,20th-21st,1st,1,Falco is an aggressive character whose primary...,0,"[{'id': '7', 'typeid': '0', 'dataid': '5', 'so..."
5,5,6,Fox,1,22nd,3rd,1,Fox is easily the most agile character in the ...,0,"[{'id': '5', 'typeid': '0', 'dataid': '6', 'so..."
6,6,7,Ganondorf,12,4th,10th,0,Ganondorf is a bulky and heavy powerhouse. Gan...,0,"[{'id': '32', 'typeid': '0', 'dataid': '7', 's..."
7,7,8,Ice Climbers,8,15th,19th-21st,0,The Ice Climbers is a character in which the p...,0,"[{'id': '26', 'typeid': '0', 'dataid': '8', 's..."
8,8,9,Jigglypuff,5,24th-25th,26th,0,"Being the 2nd lightest character in the game, ...",0,"[{'id': '15', 'typeid': '0', 'dataid': '9', 's..."
9,9,10,Kirby,26,23rd,19th-21st,0,"A shell of its former self in Smash 64, Kirby ...",0,[]
10,10,11,Link,16,6th-7th,7th-9th,0,Link is a slower but more powerful version of ...,0,"[{'id': '24', 'typeid': '0', 'dataid': '11', '..."
11,11,12,Luigi,13,8th-10th,19th-21st,0,Luigi has the longest wavedash range in the ga...,0,"[{'id': '14', 'typeid': '0', 'dataid': '12', '..."
12,12,13,Mario,14,8th-10th,16th-18th,1,Mario is one of the most basic characters in t...,0,"[{'id': '36', 'typeid': '0', 'dataid': '13', '..."
13,13,14,Marth,4,16th,6th,0,Marth has the most range of anyone in the game...,0,"[{'id': '4', 'typeid': '0', 'dataid': '14', 's..."
14,14,15,Mewtwo,21,17th-19th,22nd-23rd,0,"Mewtwo is a poorly designed character, having ...",0,[]
15,15,16,Mr. Game And Watch,22,24th-25th,16th-18th,0,"Although GaW is the last character to unlock, ...",0,"[{'id': '23', 'typeid': '0', 'dataid': '16', '..."
16,16,17,Ness,23,11th,15th,0,"Ness is a character that has a few good pokes,...",0,"[{'id': '25', 'typeid': '0', 'dataid': '17', '..."
17,17,18,Peach,6,12th-14th,22nd-23rd,0,Peach is one of the most unique floaty charact...,0,"[{'id': '6', 'typeid': '0', 'dataid': '18', 's..."
18,18,19,Pichu,25,26th,12th-14th,1,Obviously Nintendo's joke character in the cas...,0,"[{'id': '34', 'typeid': '0', 'dataid': '19', '..."
19,19,20,Pikachu,10,20th-21st,12th-14th,0,Pikachu is pretty much the mid-tier Fox. They ...,0,"[{'id': '12', 'typeid': '0', 'dataid': '20', '..."
20,20,21,Roy,20,17th-19th,4th-5th,0,"Roy is the weak version of Marth. Like Marth, ...",0,"[{'id': '40', 'typeid': '0', 'dataid': '21', '..."
21,21,22,Samus,11,3rd,24th-25th,1,"Samus is a very linear character, as many of h...",0,"[{'id': '16', 'typeid': '0', 'dataid': '22', '..."
22,22,23,Sheik,3,12th-14th,7th-9th,1,Sheik is one of the deadliest characters in th...,0,"[{'id': '13', 'typeid': '0', 'dataid': '23', '..."
23,23,24,Yoshi,18,5th,11th,0,The most unique quality of Yoshi is his shiel...,0,"[{'id': '1', 'typeid': '0', 'dataid': '24', 's..."
24,24,25,Young Link,15,17th-19th,7th-9th,1,Young Link is a fast character with three diff...,0,"[{'id': '29', 'typeid': '0', 'dataid': '25', '..."
25,25,26,Zelda,19,12th-14th,24th-25th,0,Zelda is a very floaty character who generally...,0,"[{'id': '21', 'typeid': '0', 'dataid': '26', '..."

In [9]:
orderDict={'1st':1,'2nd':2,'3rd':3,'4th':4,'5th':5,'6th':6,'7th':7,'8th':8,'9th':9,'10th':10,'11th':11,
              '12th':12,'13th':13,'14th':14,'15th':15,'16th':16,'17th':17,'18th':18,'19th':19,'20th':20,'21st':21,
               '22nd':22,'23rd':23,'24th':24,'25th':25,'26th':26}#this dictionary is necessary to convert data to integers

In [11]:
#these for loops go through our dataframe and replace the order variables '1st', '2nd' etc with 1 and 2
for number in orderDict:
    for i in range(len(df1)):
        if  str(df1['fallspeed'][i]).endswith(number):#variables like '12th-14th' are converted to 14th
                df1['fallspeed'][i]=orderDict[number]
for number in orderDict:
    for i in range(len(df1)):
        if  str(df1['weight'][i]).endswith(number):
                df1['weight'][i]=orderDict[number]

df1['fallspeed']=df1['fallspeed'].astype(int)#set the type to integer for each of the variables in order to compare
df1['tierdata']=df1['tierdata'].astype(int) #statistically
df1['weight']=df1['weight'].astype(int)
df1['walljump']=df1['walljump'].astype(int)

<ipython-input-11-32203ac76bd1>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['fallspeed'][i]=orderDict[number]
<ipython-input-11-32203ac76bd1>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['weight'][i]=orderDict[number]

In [12]:
df1

,index,id,name,tierdata,weight,fallspeed,walljump,guide,game,gifs
0,0,1,Bowser,24,1,4,0,"Bowser is the heaviest character in the game, ...",0,"[{'id': '1857', 'typeid': '0', 'dataid': '1', ..."
1,1,2,Captain Falcon,7,7,2,1,Falcon is the fastest character in the game in...,0,"[{'id': '3', 'typeid': '0', 'dataid': '2', 'so..."
2,2,3,Donkey Kong,17,2,5,0,Donkey Kong is a character that lacks reliable...,0,"[{'id': '37', 'typeid': '0', 'dataid': '3', 's..."
3,3,4,Dr. Mario,9,10,8,0,"Dr. Mario is a compact powerhouse, packed with...",0,"[{'id': '2', 'typeid': '0', 'dataid': '4', 'so..."
4,4,5,Falco,2,1,1,1,Falco is an aggressive character whose primary...,0,"[{'id': '7', 'typeid': '0', 'dataid': '5', 'so..."
5,5,6,Fox,1,2,3,1,Fox is easily the most agile character in the ...,0,"[{'id': '5', 'typeid': '0', 'dataid': '6', 'so..."
6,6,7,Ganondorf,12,4,10,0,Ganondorf is a bulky and heavy powerhouse. Gan...,0,"[{'id': '32', 'typeid': '0', 'dataid': '7', 's..."
7,7,8,Ice Climbers,8,5,1,0,The Ice Climbers is a character in which the p...,0,"[{'id': '26', 'typeid': '0', 'dataid': '8', 's..."
8,8,9,Jigglypuff,5,5,6,0,"Being the 2nd lightest character in the game, ...",0,"[{'id': '15', 'typeid': '0', 'dataid': '9', 's..."
9,9,10,Kirby,26,3,1,0,"A shell of its former self in Smash 64, Kirby ...",0,[]
10,10,11,Link,16,7,9,0,Link is a slower but more powerful version of ...,0,"[{'id': '24', 'typeid': '0', 'dataid': '11', '..."
11,11,12,Luigi,13,10,1,0,Luigi has the longest wavedash range in the ga...,0,"[{'id': '14', 'typeid': '0', 'dataid': '12', '..."
12,12,13,Mario,14,10,8,1,Mario is one of the most basic characters in t...,0,"[{'id': '36', 'typeid': '0', 'dataid': '13', '..."
13,13,14,Marth,4,6,6,0,Marth has the most range of anyone in the game...,0,"[{'id': '4', 'typeid': '0', 'dataid': '14', 's..."
14,14,15,Mewtwo,21,9,3,0,"Mewtwo is a poorly designed character, having ...",0,[]
15,15,16,Mr. Game And Watch,22,5,8,0,"Although GaW is the last character to unlock, ...",0,"[{'id': '23', 'typeid': '0', 'dataid': '16', '..."
16,16,17,Ness,23,11,5,0,"Ness is a character that has a few good pokes,...",0,"[{'id': '25', 'typeid': '0', 'dataid': '17', '..."
17,17,18,Peach,6,4,3,0,Peach is one of the most unique floaty charact...,0,"[{'id': '6', 'typeid': '0', 'dataid': '18', 's..."
18,18,19,Pichu,25,6,4,1,Obviously Nintendo's joke character in the cas...,0,"[{'id': '34', 'typeid': '0', 'dataid': '19', '..."
19,19,20,Pikachu,10,1,4,0,Pikachu is pretty much the mid-tier Fox. They ...,0,"[{'id': '12', 'typeid': '0', 'dataid': '20', '..."
20,20,21,Roy,20,9,5,0,"Roy is the weak version of Marth. Like Marth, ...",0,"[{'id': '40', 'typeid': '0', 'dataid': '21', '..."
21,21,22,Samus,11,3,5,1,"Samus is a very linear character, as many of h...",0,"[{'id': '16', 'typeid': '0', 'dataid': '22', '..."
22,22,23,Sheik,3,4,9,1,Sheik is one of the deadliest characters in th...,0,"[{'id': '13', 'typeid': '0', 'dataid': '23', '..."
23,23,24,Yoshi,18,5,11,0,The most unique quality of Yoshi is his shiel...,0,"[{'id': '1', 'typeid': '0', 'dataid': '24', 's..."
24,24,25,Young Link,15,9,9,1,Young Link is a fast character with three diff...,0,"[{'id': '29', 'typeid': '0', 'dataid': '25', '..."
25,25,26,Zelda,19,4,5,0,Zelda is a very floaty character who generally...,0,"[{'id': '21', 'typeid': '0', 'dataid': '26', '..."

In [13]:
sid = SentimentIntensityAnalyzer()#main sentiment analyzing method
df1['compound'] = [sid.polarity_scores(x)['compound'] for x in df1['guide']]#call on the polarity scores from the method above
df1['neg'] = [sid.polarity_scores(x)['neg'] for x in df1['guide']]#set the dataframe columns with their sentiment scores
df1['neu'] = [sid.polarity_scores(x)['neu'] for x in df1['guide']]#four options, neg neu pos and compound
df1['pos'] = [sid.polarity_scores(x)['pos'] for x in df1['guide']]

In [14]:
df1
df1.to_csv('C:\\Users\\acumm\\OneDrive\\Documents\\miniProjResult1.csv')#our first result with sentiment analysis

In [15]:
X = df1[['weight','compound','walljump']] #  X = our predictor variables for the regression model
Y = df1['tierdata'] #what we want to predict
#X = df1[['weight','fallspeed','walljump','compound']]
# with sklearn
regr = linear_model.LinearRegression()#linear regression model, in our case multilinear regression
regr.fit(X, Y)

print('Intercept: \n', regr.intercept_)#print the coefficients for our equation
print('Coefficients: \n', regr.coef_)

#with statsmodels
X = sm.add_constant(X) # add constant and use it as a benchmark to evaluate the fit
 
model = sm.OLS(Y, X).fit()#eval fit using least squares method
predictions = model.predict(X) 
 
print_model = model.summary()#so the summary of our model
print(print_model)

with open('miniprojectoutput2.csv', 'w') as fh:
    fh.write(model.summary().as_csv())

Intercept:
 12.432336524428221
Coefficients:
 [ 0.35189366 -2.88045394 -4.00305121]
                            OLS Regression Results
==============================================================================
Dep. Variable:               tierdata   R-squared:                       0.204
Model:                            OLS   Adj. R-squared:                  0.095
Method:                 Least Squares   F-statistic:                     1.874
Date:                Sat, 12 Dec 2020   Prob (F-statistic):              0.163
Time:                        12:24:19   Log-Likelihood:                -86.321
No. Observations:                  26   AIC:                             180.6
Df Residuals:                      22   BIC:                             185.7
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         12.4323      3.146      3.952      0.001       5.909      18.956
weight         0.3519      0.485      0.726      0.476      -0.653       1.357
compound      -2.8805      2.397     -1.202      0.242      -7.852       2.091
walljump      -4.0031      3.263     -1.227      0.233     -10.769       2.763
==============================================================================
Omnibus:                        3.099   Durbin-Watson:                   2.264
Prob(Omnibus):                  0.212   Jarque-Bera (JB):                1.359
Skew:                           0.069   Prob(JB):                        0.507
Kurtosis:                       1.889   Cond. No.                         16.7
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [16]:
X = df1[['compound','walljump']] # see comments above
# with sklearn
regr = linear_model.LinearRegression()
regr.fit(X, Y)

print('Intercept: \n', regr.intercept_)
print('Coefficients: \n', regr.coef_)


#with statsmodels
X = sm.add_constant(X) # adding a constant
 
model = sm.OLS(Y, X).fit()
predictions = model.predict(X) 
 
print_model = model.summary()
print(print_model)

Intercept:
 14.294141488198253
Coefficients:
 [-3.3077343  -3.93928093]
                            OLS Regression Results
==============================================================================
Dep. Variable:               tierdata   R-squared:                       0.184
Model:                            OLS   Adj. R-squared:                  0.114
Method:                 Least Squares   F-statistic:                     2.601
Date:                Sat, 12 Dec 2020   Prob (F-statistic):             0.0959
Time:                        12:24:20   Log-Likelihood:                -86.629
No. Observations:                  26   AIC:                             179.3
Df Residuals:                      23   BIC:                             183.0
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         14.2941      1.803      7.930      0.000      10.565      18.023
compound      -3.3077      2.300     -1.438      0.164      -8.065       1.450
walljump      -3.9393      3.228     -1.220      0.235     -10.616       2.738
==============================================================================
Omnibus:                        5.122   Durbin-Watson:                   2.205
Prob(Omnibus):                  0.077   Jarque-Bera (JB):                1.692
Skew:                          -0.038   Prob(JB):                        0.429
Kurtosis:                       1.753   Cond. No.                         2.70
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [17]:
X = df1[['weight']] # see comments above
Y = df1['fallspeed']
# with sklearn
regr = linear_model.LinearRegression()
regr.fit(X, Y)

print('Intercept: \n', regr.intercept_)
print('Coefficients: \n', regr.coef_)
#with statsmodels
X = sm.add_constant(X) # adding a constant
 
model = sm.OLS(Y, X).fit()
predictions = model.predict(X) 
 
print_model = model.summary()
print(print_model)

Intercept:
 4.133056133056133
Coefficients:
 [0.1995842]
                            OLS Regression Results
==============================================================================
Dep. Variable:              fallspeed   R-squared:                       0.043
Model:                            OLS   Adj. R-squared:                  0.003
Method:                 Least Squares   F-statistic:                     1.069
Date:                Sat, 12 Dec 2020   Prob (F-statistic):              0.311
Time:                        12:24:22   Log-Likelihood:                -64.358
No. Observations:                  26   AIC:                             132.7
Df Residuals:                      24   BIC:                             135.2
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          4.1331      1.213      3.407      0.002       1.629       6.637
weight         0.1996      0.193      1.034      0.311      -0.199       0.598
==============================================================================
Omnibus:                        0.810   Durbin-Watson:                   2.378
Prob(Omnibus):                  0.667   Jarque-Bera (JB):                0.794
Skew:                           0.208   Prob(JB):                        0.672
Kurtosis:                       2.251   Cond. No.                         13.2
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [18]:
df2 = pd.read_json(json.dumps(response3.json())).reset_index()#import our second dataset, locations and data on smash groups

In [19]:
df2

,index,id,region,profileid,name,latitude,longitude,game,created_at,updated_at
0,0,2,North Atlantic,https://www.facebook.com/groups/269052529786948,East Coast,37.950000,-84.000000,Melee,-0001-11-30 00:00:00,-0001-11-30 00:00:00
1,1,3,North Atlantic,https://www.facebook.com/groups/134497873392355,East Coast,37.947085,-83.722506,Smash 64,-0001-11-30 00:00:00,-0001-11-30 00:00:00
2,2,4,North Atlantic,https://www.facebook.com/groups/430811007000487,Delaware,39.156416,-75.513420,All Titles,-0001-11-30 00:00:00,-0001-11-30 00:00:00
3,3,5,North Atlantic,https://www.facebook.com/groups/DMVSSBM,Maryland / Virginia / DC,37.000000,-79.014576,Melee,-0001-11-30 00:00:00,-0001-11-30 00:00:00
4,4,6,North Atlantic,https://www.facebook.com/groups/mdvasmash,Maryland / Virginia / DC,37.500000,-77.000000,Brawl,-0001-11-30 00:00:00,-0001-11-30 00:00:00
...,...,...,...,...,...,...,...,...,...,...
254,254,256,South Atlantic,http://www.facebook.com/groups/1071781742911676/,Hub City Smash 4,35.639000,-88.786000,Smash 4,2016-11-12 04:14:17,2016-11-12 04:14:17
255,255,257,International,https://www.facebook.com/groups/smashcn/,SmashCN,31.279000,121.498000,Smash 4,2016-11-12 04:14:19,2016-11-12 04:14:19
256,256,258,Mid West,https://www.facebook.com/groups/SoUSmash/,Southern Utah Smash,37.087000,-113.570000,Melee,2017-01-09 07:16:51,2017-01-09 07:16:51
257,257,259,North Atlantic,https://www.facebook.com/groups/585036658265765/,Northern Louisiana Smash,32.538000,-93.748000,Melee,2017-08-13 20:08:57,2017-08-13 20:08:57
258,258,260,Mid West,https://www.facebook.com/groups/336447366546411/,South Bend Smash Bros Community,41.662000,-86.215000,Melee,2019-07-15 00:43:41,2019-07-15 00:43:41

In [20]:
df2['region'].value_counts()#look at count of group by region

North Atlantic    74
Mid West          47
West Coast        43
South Atlantic    40
International     32
Southwest         23
Name: region, dtype: int64

In [21]:
df2['game'].value_counts()#look at count of game

Melee         105
All Titles     97
Smash 4        18
PM             16
Brawl          15
Smash 64        8
Name: game, dtype: int64

In [22]:
output3=df2.groupby(['region', 'game']).size().unstack(fill_value=0)#put these into a table to look at the spread
output3.to_csv('C:\\Users\\acumm\\OneDrive\\Documents\\miniProjResult3.csv')
output3

game            All Titles  Brawl  Melee  PM  Smash 4  Smash 64
region
International            7      0     16   1        6         2
Mid West                23      3     18   2        1         0
North Atlantic          24      4     31   5        8         2
South Atlantic          15      4     15   3        2         1
Southwest               12      1      7   1        1         1
West Coast              16      3     18   4        0         2